*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {    
    background-color: rgb(0, 0, 0);
  
}  

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px

}

.logo a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}


.navbar-items ul {
  display: flex;
  color: white;
}

.navbar-items li {
  display: inline;
  float:right;
  list-style: none;
}

.navbar-items a {
        
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 14px 16px;
  text-decoration: none;
}
         
.navbar-items a:hover:not(.active) {
  background-color: rgb(238, 153, 153);
}
.banner-image{
  width: 100%;
  height: 86px; ;
}

.banner-text{
  position: absolute;
  color: white;
  text-align: center;
  width: 100%;
  padding-top: 20px;
}


.about-image{
  width: 100%;
  height: 100%;
}

.about-box{
  padding-bottom: 120px;
  background-image: url("./Source/image/1.1.png");

}

.about {
  width: 100%;
  height: fit-content;
}

.about-text1{
  font-size: 30px;
  color: white;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}


.about-text2{
  font-size: 20px;
  padding-right: 7%;
  padding-left: 7%;
  color: white;
  text-align: center;
  width: 100%;
  padding-top: 5px;
}

.our-service{
  background-image: url(./Source/WHAT\ WE\ OFFER.png);
  width: 100%;
  height: 300px;
  transform: translateY(-100px);
  }

.ft {
  background-color: #333333;
  padding: 60px;
  transform: translateY(-100px);

}

.ft1 {
  background-color: #333333;
  padding: 60px;

}

.events {
 width: 100%;
 height: auto;
}

/* Today content aded */

.menu-category-cta-contain {
  background-color: #DB545A;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 70%;
  margin: 10px auto 30px;
  align-items: flex-end;
  border-radius: 20px;

}

.menu-category-cta li img {width: 100%;transition: 0.3s all ease-in-out;}

.menu-category-cta li img:hover {

    width: 160px;

    overflow: hidden;

    margin: 0 auto;

}

.menu-category-cta {

  padding: 10px;
  width: 25%;
}
.menu-category-cta span {
  display: block;
  text-align: center;
  color: white;
  font-size: 18px;

}

.menu-category-cta li {
  list-style-type: none;
  cursor: pointer;

}



.seeAll {
  background-color: #000;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  margin: 5px auto;
  cursor: pointer;
}


/* Hitaka-experience */

.Hitaka-experience-container {
  background: url(./Source/image/Home/Hitak\ Experience\ BG.png);
  display: flex;
  flex-wrap: wrap;
}
.Hitaka-experience {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: right;
  width: 100%;
  margin: 30px auto 30px;
  padding-right: 2%;
  padding-left: 2%;
  /* align-items: flex-end; */

}

.Hitaka-experience-article{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  
}

.Hitaka-experience-article img {
  width: 25%;
}



.Hitaka-experience-article {

  padding: 10px;
  width: 50%;
}
.Hitaka-experience-article p {
  display: block;
  text-align: left;
  color: white;
  font-size: 18px;

}
.Hitaka-experience-article h1 {
  color: white;
  text-align: left;
  padding-bottom: 2%;
 
 }

 /* menu */

 .food{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
   padding-left: 5%;
  padding-right: 5%;
 }

 .box{
  width: 25%;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;

 }

 .box .food-image{
  position: relative;
  width: 100%;
 }
 .food-image img{
  width: 100%;
 }

 .food-name{
  width: 100%;
  text-align: center;
 }

 .Category-of-food{
  padding-left: 3%;
  padding-right: 3%;
 }

 .Category-of-food h2{
  color: white;
 }
 
 .Category-of-food hr{
  height: 2px;
  background-color: #ccc;
  color: #ccc;
  width: 100%;
  margin-top: 3px;
  border:none;

 }

 .type-of-food{
  color: white;
  padding-left: 9.5%;
  margin-top: 4%;
 }

 .type-of-food hr{
  width: 20%;
  margin-bottom: 2%;
 }



   /* CART */


   .shoping-cart-container{
    padding-left: 5%;
    padding-right: 5%;
  }


   .top-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 20px

  
  }
  
  .top-side p{
    color: white;
    text-decoration: none;
    font-size: 20px;
  }

  .right-side{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  /* product-aded-containair */

  .product-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 20px

  
  }
  
  .product-container p{
    color: white;
    text-decoration: none;
    font-size: 20px;
  }

  .right-side{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .unit-price{
    width: 32%;
    text-align: center;

  }
  .quantity{
    width: 32%;
    text-align: center;
 
  }
  .price{
    width: 32%;
    text-align: center;
  }

  .delete{
    width: 6%;
  }

  .delete img{
    width: 100%;
  }



  .product
  {
    display: flex;
    align-items: center;
    width:60%;
  }
  .product-image{
    width: 15%;

  }

  .product-image img{
    width: 100%;
  }

  .product-title{
    width: 50%;
    padding-left: 5%;
  }
  .quantity-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F6F7F8;
    width: 100%;
    border-radius: 7px;
    flex-wrap: wrap;
  }
   .quantity-box p{
    color: #000;
   }

   .quantity-button{
    padding-left: 5%;
    padding-right: 5%;
   }
  
   .quantity-button button {
    background: none;
    border: none;
    color: #33A0FF;
    
   }

   .cart {
    color: ;
    position: absolute;
    display: flex;
    background-color: darkgrey;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
    width: 100%;
    transform: translateY(-110%);
    
}

.cart a{
  color: #000;
  text-decoration: none;

}


   .box:hover .cart1 {
    /* bottom: 50px; */
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}
  
  
  
  
  
  
  
  
  


